In [1]:
import pandas as pd
df = pd.read_csv("dragging system.csv")
df.head()

   Sr. No.       HMR          Remarks Unnamed: 3
0        1   99051.0  drag_chain_slip        NaN
1        2   99526.0  drag_chain_slip        NaN
2        3  100123.5        drag_rope        NaN
3        4  100141.0        drag_rope        NaN
4        5  100183.0        drag_rope        NaN

In [2]:
df.drop(['Sr. No.','Unnamed: 3'],axis='columns', inplace=True) 
df.head()

        HMR          Remarks
0   99051.0  drag_chain_slip
1   99526.0  drag_chain_slip
2  100123.5        drag_rope
3  100141.0        drag_rope
4  100183.0        drag_rope

In [3]:
dummies= pd.get_dummies(df.Remarks)
dummies

,drag chain,drag chain link broken,drag chain problem,drag drum drive break,drag rope out from pulley,drag socket pin lock broken,drag walk problem,drag_chain,drag_chain_slip,drag_rope,drag_rope_out
0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
265,0,0,0,0,0,0,0,0,0,0,1
266,0,0,0,0,0,0,0,0,0,0,1
267,0,0,0,0,0,0,0,0,0,0,1
268,0,0,0,0,0,0,0,0,0,0,1
269,0,0,0,0,0,0,0,0,0,0,1

In [4]:
merged = pd.concat([df,dummies],axis='columns')
merged

,HMR,Remarks,drag chain,drag chain link broken,drag chain problem,drag drum drive break,drag rope out from pulley,drag socket pin lock broken,drag walk problem,drag_chain,drag_chain_slip,drag_rope,drag_rope_out
0,99051.0,drag_chain_slip,0,0,0,0,0,0,0,0,1,0,0
1,99526.0,drag_chain_slip,0,0,0,0,0,0,0,0,1,0,0
2,100123.5,drag_rope,0,0,0,0,0,0,0,0,0,1,0
3,100141.0,drag_rope,0,0,0,0,0,0,0,0,0,1,0
4,100183.0,drag_rope,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,173720.5,drag_rope_out,0,0,0,0,0,0,0,0,0,0,1
266,173880.5,drag_rope_out,0,0,0,0,0,0,0,0,0,0,1
267,173990.0,drag_rope_out,0,0,0,0,0,0,0,0,0,0,1
268,174073.5,drag_rope_out,0,0,0,0,0,0,0,0,0,0,1
269,174407.0,drag_rope_out,0,0,0,0,0,0,0,0,0,0,1

In [10]:
final = merged.drop(['Remarks','drag chain','drag chain link broken','drag chain problem','drag drum drive break'],axis='columns')
final

,HMR,drag rope out from pulley,drag socket pin lock broken,drag walk problem,drag_chain,drag_chain_slip,drag_rope,drag_rope_out
0,99051.0,0,0,0,0,1,0,0
1,99526.0,0,0,0,0,1,0,0
2,100123.5,0,0,0,0,0,1,0
3,100141.0,0,0,0,0,0,1,0
4,100183.0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
265,173720.5,0,0,0,0,0,0,1
266,173880.5,0,0,0,0,0,0,1
267,173990.0,0,0,0,0,0,0,1
268,174073.5,0,0,0,0,0,0,1
269,174407.0,0,0,0,0,0,0,1

In [11]:
inputs = final.drop('drag_rope',axis='columns')
target= final.drag_rope